body {
    font-family: 'Arial', sans-serif;
    background-color: #8dddff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.lyrics-container {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3468a0;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1f4e78;
}

.green {
    color: rgb(61, 131, 12);
}

.yellow {
    color: rgb(154, 121, 12);
}

.red {
    color: rgb(255, 2, 2);
}

.fade-out {
    opacity: 0;
    animation: fadeOutAnimation 3s forwards;
}

@keyframes fadeOutAnimation {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    button {
        padding: 8px 15px;
        font-size: 14px;
    }

    .lyrics-container {
        width: 90%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    button {
        padding: 8px 10px;
        font-size: 12px;
    }
}
